@model ExpenseManagement.Model.Expense.ExpenseModel

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.3.1109/styles/kendo.default-v2.min.css"/>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2022.3.1109/js/kendo.all.min.js"></script>

<style>
    .card-header{
        font-size: 22px;
        font-weight: bold;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-md-12 bg-light rounded p-4">
        @*<div class="row">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-4">
                    <label asp-for="ExpenseId" class="control-label"></label>
                    <input asp-for="ExpenseId" class="form-control" />
                    <span asp-validation-for="ExpenseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BranchName" class="control-label"></label>
                    <input asp-for="BranchName" class="form-control" />
                    <span asp-validation-for="BranchName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpenseType" class="control-label"></label>
                    <input asp-for="ExpenseType" class="form-control" />
                    <span asp-validation-for="ExpenseType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpenseSubType" class="control-label"></label>
                    <input asp-for="ExpenseSubType" class="form-control" />
                    <span asp-validation-for="ExpenseSubType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsRecommended" /> @Html.DisplayNameFor(model => model.IsRecommended)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <input asp-for="DepartmentName" class="form-control" />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpenseAmount" class="control-label"></label>
                    <input asp-for="ExpenseAmount" class="form-control" />
                    <span asp-validation-for="ExpenseAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>*@

        <div class="row">
            <nav aria-label="breadcrumb" class="d-flex flex-row-reverse">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Expense</a></li>
                <li class="breadcrumb-item active" aria-current="page">Index</li>
              </ol>
            </nav>
        </div>
        <div class="row">
            <p>
              <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Add
              </a>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Edit
              </button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card text-center">
                <div class="card-header">Expense Details</div>
                <div class="card-body">
                    <partial name="AddEditExpense"/>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div id="expenseGrid" class="card-body p-0 bdr-0"></div>
                </div>
            </div>
        </div>
        
    </div>


    <!-- Modal -->
    <div class="modal fade" id="ItemModal" tabindex="-1" aria-labelledby="ItemModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ItemModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

<script>
    
      GridImplementation();
      RuntimeJquery();

      function RuntimeJquery(){
          $("#btnExpenseAdd").off().on('click', function(){
              loadAddEditExpense();
          });
          $("#btnExpenseEdit").off().on('click', function(){

              //fetch grid single row data
              var grid = $("#expenseGrid").data("kendoGrid");
              var gridItem = grid.dataItem(grid.select());
              console.log(gridItem);
              loadAddEditExpense(gridItem.ExpenseId);
              
          });
      }
      function GridImplementation(){

        let myDataArray = new kendo.data.DataSource({
          transport: {
                    read: {
                        url: "https://localhost:7250/api/Expense/GetAllExpense",
                        data: {},
                        type: "POST",
                        datatype: 'JSON',
                        cache: false,
                        contentType: "application/json"
                    },
                    parameterMap: function(data) {
                        var returnData = JSON.stringify(data);
                        return returnData
                    }
                },
                schema: {
                    total: function(data) {
                        return data[1]
                    },
                    data: function(data) {
                        return data[0]
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
        });

         //Target the div element by using jQuery and then call the kendoGrid() method.
        $("#expenseGrid").kendoGrid({
        height: "400px",
        pageable: {
            refresh: true,
            pageSizes: 5, 
            buttonCount: 5
        },
        sortable: true,
        // Enable the filtering functionality.
        
        filterable: {
            extra: false,
            operators: {
                string: {
                    contains: "Contains"
                }
            }
        },
        // Enable the editing functionality (incell by default).
        editable: false,
        selectable: "single row",
        dataSource: myDataArray,
        columns: [
          { field: "expenseId", title: "Expense Id"},
          { field: "expenseDate", title: "Expense Date"},
          { field: "branchName", title: "Branch Name"},
          { field: "expenseType", title: "Expense Type"},
          { field: "totalAmount", title: "Amount"}
        ]
        });
      };
    
      function loadAddEditExpense(ExpenseId){
          $.ajax({
            type: 'POST',
            url: '@Url.Content("~/Expense/AddEditExpense")',
            data: { ExpenseId: ExpenseId },
            success: function(data) {
                $('.modal-body').empty();
                $('#ItemModal .modal-body').html(data);

                if(ExpenseId){
                    $("#ItemModalLabel").html("Edit Expense");
                }
                else{
                    $("#ItemModalLabel").html("Report Expense");
                }
                
            },
            error: function(res) {
            },
            failure: function(errMsg) {
            }
        });
      };
    </script>

