@model ExpenseManagement.Model.Expense.ExpenseModel

@{
    ViewData["Title"] = "Index";
    var userId = User.Identity.Name;
}

<style>
    .k-grid-header {
            background-color: #2a57b8;
            color: white;
        }
    .k-i-filter{
        color: white;
    }
    .card-header{
        font-size: 22px;
        font-weight: bold;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-md-12 bg-light rounded p-4">
        
        <div class="row">
            <nav aria-label="breadcrumb" class="d-flex flex-row-reverse">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><button class="btn-primary"><i class="fa fa-home"></i>Home</button></li>
                <li class="breadcrumb-item"><button class="btn-primary">Expense</button></li>
                <li class="breadcrumb-item active" aria-current="page"><button class="btn-primary">Index</button></li>
              </ol>
            </nav>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row m-2">
                    <button id="btnExpenseAdd" style="font-weight: bold;font-size: 16px;padding: 4px;text-align: center;border: none;background-color: #144a85;color: #fff;" class="col-md-1 rounded-pill"><i class="bi bi-plus-square-dotted"></i>&nbsp;Add</button>
                    <button id="btnExpenseEdit"style="font-weight: bold;font-size: 16px;padding: 4px;text-align: center;border: none;background-color: #144a85;color: #fff;" class="col-md-1 rounded-pill"><i class="bi bi-pencil-square"></i>&nbsp;Edit</button>
                </div>
            </div>
            
            <div  id="collapseExample">
              <div class="card text-center">
                <div class="card-header" id="cardHeaderId" style="background-color: #346191;color: #fff;">Expense Grid</div>
                <div class="card-body" id="cardBodyId">
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div id="expenseGrid" class="card-body p-0 bdr-0"></div>
                </div>
            </div>
        </div>
        
    </div>

<script>

      GridImplementation();
      RuntimeJquery();
      $('#collapseExample').attr('class','collapse');

      $("#btnExpenseAdd").off().on('click', function(){

              
              var iscollapse = $('#collapseExample').attr('class');
              if(iscollapse == 'collapse')
              {
                  loadAddEditExpense();
                  $('#collapseExample').removeClass('collapse');
                  $('#expenseGrid').hide();
              }
              else{
                  $('#collapseExample').addClass('collapse');
                  $('#expenseGrid').show();
              }
              
          });


        $('#btnExpenseEdit').off().on('click', function() {

            //show loader
            var expenseIdSelected = $(".k-selected").find('td[role="gridcell"]').eq(0).html();
  
            var iscollapse = $('#collapseExample').attr('class');
            if(iscollapse == 'collapse')
            {
                  if(expenseIdSelected != null){
                    loadAddEditExpense(expenseIdSelected);
                    $('#expenseGrid').hide();
                    $('#collapseExample').removeClass('collapse');
                  }
                  else{
                    toastr.warning('Select a Row');
                  }
                  
            }
            else{
                  $('#collapseExample').addClass('collapse');
                  $('#expenseGrid').show();
            }
        });


      function RuntimeJquery(){
          
          $("#btnExpenseEdit").off().on('click', function(){
      
              //fetch grid single row data
              var grid = $("#expenseGrid").data("kendoGrid");
              var gridItem = grid.dataItem(grid.select());
              loadAddEditExpense(gridItem.ExpenseId);
              
          });
      }

      function GridImplementation(){
         
        let myDataArray = new kendo.data.DataSource({
          transport: {
                    read: {
                        url: "https://localhost:7250/api/Expense/GetAllExpense",
                        data: {},
                        type: "POST",
                        datatype: 'JSON',
                        cache: false,
                        contentType: "application/json"
                    },
                    parameterMap: function(data) {
                        var returnData = JSON.stringify(data);
                        return returnData;
                        
                    }
                },
                schema: {
                    total: function(data) {
                        return data[1]
                    },
                    data: function(data) {
                        return data[0]
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
        });
        //toastr.error('Are you the 6 fingered man?');
         //Target the div element by using jQuery and then call the kendoGrid() method.

        $("#expenseGrid").kendoGrid({
        height: "400px",
        pageable: {
            refresh: true,
            pageSizes: 5, 
            buttonCount: 5
        },
        sortable: true,
        // Enable the filtering functionality.
        
        filterable: {
            extra: false,
            operators: {
                string: {
                    contains: "Contains"
                }
            }
        },
        // Enable the editing functionality (incell by default).
        editable: false,
        selectable: "single row",
        dataSource: myDataArray,
        columns: [
          { field: "expenseId", title: "Expense Id"},
          { field: "expenseDate", title: "Expense Date"},
          { field: "branchName", title: "Branch Name"},
          { field: "expenseType", title: "Expense Type"},
          { field: "totalAmount", title: "Amount"},
          { field: "isApproved", title: "Status",
          template: "# if (isApproved==true) {#<button onclick='abc()' class='approveBtn btn btn-sm' style='background-color: green; color:white; padding: 4px; border-radius: calc(.5rem - 1px);'>Requested</button>#} else {#<button onclick='abc()' class='approveBtn btn btn-sm' style='background-color: orange; color:white; padding: 4px; border-radius: calc(.5rem - 1px);'>Approve Now</button>#} #"}
        ]
        });
      };
    
      function abc(){
          //show loader
            var expenseIdSelected = $(".k-selected").find('td[role="gridcell"]').eq(0).html();

            if(expenseIdSelected != null){
                console.log(expenseIdSelected);

                $.ajax({
                    type: 'POST',
                    url: 'https://localhost:7250/api/Expense/ApproveExpense',
                    datatype: 'json',
                    data: JSON.stringify({ExpenseId : expenseIdSelected,Username: '@userId'}),
                    contentType: "application/json;charset=utf-8",
                    success: function(response){

                        console.log('@userId');
                        if(response == 1){
                            $(".k-selected").find('td[role="gridcell"]').eq(5).find('button').eq(0).attr('style','background-color: green; color:white; padding: 4px; border-radius: calc(.5rem - 1px);');
                            $(".k-selected").find('td[role="gridcell"]').eq(5).find('button').eq(0).html('<button onclick=\'abc()\' class=\'approveBtn btn btn-sm\' style=\'background-color: green; color:white; padding: 4px; border-radius: calc(.5rem - 1px);\'>Requested</button>');
                            toastr.success(response);
                        }
                        else{
                            toastr.error(response);
                        }
                    }
                });
                //$('.approveBtn').attr('style','background-color: green; color:white; padding: 4px; border-radius: calc(.5rem - 1px);');
            }
            else{
                toastr.warning('Select a Row');
            }
          
      };

      function loadAddEditExpense(ExpenseId){

          $.ajax({
              type: 'POST',
              url: '@Url.Content("~/Expense/AddEditExpense")',
              data: { ExpenseId: ExpenseId },
              success: function(response){
                  $('#cardBodyId').empty();
                  $('#cardBodyId').append(response);

                  
              }
          });
      };
    </script>

